<ion-view view-title="JetBox">
  <ion-content class="padding center-init">
    <div class="row responsive-sm">
      <div class="col">
        <img class="center" src="./img/ionic2.png" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        
         <a ui-sref="tab.account" class="button button-positive init-button">Mi Cuenta</a>
      </div>
      <div class="col">
        <a ui-sref="tab.paquetes" class="button button-positive init-button">Pre-Afiliación</a>
      </div>
    </div>
    <div class="row">
       <div class="col">
        <a ui-sref="tab.ofertas" class="button button-positive init-button">Ofertas</a>
      </div>
      <div class="col">
        <a ui-sref="tab.sucursales" class="button button-positive init-button">Sucursales</a>
      </div>
    </div>

  </ion-content>
</ion-view>