<ion-view view-title="JetBox">
  <ion-content class="padding center-init">
    <div class="row responsive-sm">
      <div class="col">
        <img class="center" src="./img/ionic2.png" />
      </div>
    </div>

    <div class="row">
      <div class="col">
         <button ng-click="login()" class="button button-positive init-button">Mi Cuenta</button>
      </div>
      <div class="col">
        <a ui-sref="tab.afiliacion" class="button button-positive init-button">Afiliación</a>
      </div>
    </div>
    <div class="row">
       <div class="col">
        <a ui-sref="tab.ofertas" class="button button-positive init-button">Ofertas</a>
      </div>
      <div class="col">
        <a ui-sref="sucursales" class="button button-positive init-button">Sucursales</a>
      </div>
    </div>

  </ion-content>
</ion-view>