<ion-view view-title="JetBox">
  <ion-content class="padding">
    <div id="initImage">
      <img src="./img/ionic2.png"/>
    </div>
    <div id="InitRow1" class="row">
      <div class="col">
        <a ui-sref="tab.account" class="button button-calm">Mi Cuenta</a>
      </div>
      <div class="col">
        <a ui-sref="tab.paquetes" class="button button-calm">Pre-Afiliación</a>
      </div>
    </div>
    <div id="InitRow2" class="row">
      <div class="col">
        <a ui-sref="tab.ofertas" class="button button-calm">Ofertas</a>
      </div>
      <div class="col">
        <a ui-sref="tab.sucursales" class="button button-calm">Sucursales</a>
      </div>
    </div>
  </ion-content>
</ion-view>
