<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Mi Cuenta</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item>
        <h2>DATOS PERSONALES</h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <h2>DANIEL JESUS LEITON</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item>
        <h2>DIRECCIONES DE ENTREGA</h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <h2>Mi Dirección en Miami</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <h2>Entrega en su país</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <button class="button button-block button-positive" ng-click="closeCuenta()">Cerrar Sesión</button>
  </ion-content>
</ion-modal-view>
