<ion-view view-title="Calculadora">
  <ion-nav-buttons side="primary">
    <button id="botonCta" class="button"  icon="ion-ios-person" ng-click="miCuenta()"></button>
  </ion-nav-buttons>
  <ion-content>
    <form ng-submit="doCalculo()">
      <label class="item item-input">
        <span class="input-label">Contrato:</span>
        <strong>Movimiento</strong>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Categoría:</span>
        <select>
          <option selected>Todas</option>
          <option>Accesorios y Ropa</option>
          <option>Adornos</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Valor $:</span>
        <input type="number" step="any">
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Peso</span>
        <input type="number" step="any">
        <select>
          <option selected>libras</option>
          <option>kilos</option>
        </select>
      </label>
      <button class="button button-positive init-button">Calcular</button>
    </form>
  </ion-content>
</ion-view>