<ion-view view-title="Calculadora">
  <ion-content>
    <!--<table>
      <tr>
        <td>Contrato:</td>
        <td><strong>Movimiento</strong></td>
      </tr>
      <tr>
        <td>Categoría:</td>
        <td>
          <select>
            <option selected>Todas</option>
            <option>Accesorios y Ropa</option>
            <option>Adornos</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Artículo:</td>
        <td>
          <select>
            <option selected>Todas</option>
            <option>Accesorios y Ropa</option>
            <option>Adornos</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Valor $:</td>
        <td><input type="number" step="any"/></td>
      </tr>
      <tr>
        <td>Peso:</td>
        <td><input type="number" step="any"/>
          <select>
            <option selected>libras</option>
            <option>kilos</option>
          </select>
        </td>
      </tr>
    </table>-->
  </ion-content>
</ion-view>
