<ion-view view-title="Paquetes">
  <ion-content>
    <div class="button-bar">
      <a ng-click="changeTab(0);" class="button button-outline button-assertive">-30 Dias</a>
      <a ng-click="changeTab(1)" class="button button-outline button-positive">-90 dias</a>
      <a ng-click="changeTab(2)" class="button button-outline button-calm">+90 dias</a>
    </div>
  </ion-content>
  <ion-content style="
    margin-top: 46px;">
   
    <ion-list>
      <ion-item ng-repeat="item in activeItems">
        <p>{{item.nPaquete}}. {{item.desc}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>