<ion-view view-title="Ofertas">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="oferta in ofertas" type="item-text-wrap" href="#/tab/ofertas/{{oferta.id}}">
        <img ng-src="{{oferta.face}}">
        <h2>{{oferta.name}}</h2>
        <p>{{oferta.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <!--<ion-option-button class="button-assertive" ng-click="remove(oferta)">
          Borrar
        </ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
