<ion-view view-title="Paquetes">
  <ion-nav-buttons side="primary">
    <button id="botonCta" class="button"  icon="ion-ios-person" ng-click="miCuenta()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="button-bar">
      <a ng-click="changeTab(0);" class="button button-outline button-assertive">-30 Dias</a>
      <a ng-click="changeTab(1)" class="button button-outline button-positive">-90 dias</a>
      <a ng-click="changeTab(2)" class="button button-outline button-calm">+90 dias</a>
    </div>
  </ion-content>
  <ion-content style="margin-top: 46px;">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in activeItems" type="item-text-wrap" href="#/tab/paquetes/{{paquete.id}}">
        <p>{{item.nPaquete}}. {{item.desc}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(item)">
          Borrar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>