<ion-view view-title="Preaviso">
  <ion-content> 
    <form ng-submit="doAfiliacion()">
      <div class="list">
        <label class="item item-input item-select">
          <span class="input-label">Nombre:</span>
          <select>
            <option selected>Leitón Rivera Daniel Jesús</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label"># Tracking:</span>
          <input type="number">
        </label>
        <label class="item item-input">
          <span class="input-label">Contenido:</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Remitente:</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Valor $:</span>
          <input type="number">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">ONEBOX:</span>
          <select>
            <option selected>NO</option>
            <option>SÍ</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Exonerar:</span>
          <select>
            <option selected>NO</option>
            <option>SÍ</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Transporte:</span>
          <select>
            <option selected>Next Day</option>
            <option>Economy</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Beneficios y \n Promociones:</span>
          <select>
            <option selected>Ninguno</option>
            <option>JetBillete por $10</option>
          </select>
        </label>
        <label class="item item-input">
          <label for="files" class="btn">Adjuntar Factura</label>
          <input id="files" style="visibility:hidden;" type="file">
        </label>
        <!--<label class="item">-->
          <button class="button button-block button-positive" type="submit">Preavisar</button>
        <!--</label>-->
      </div>
    </form>
  </ion-content>
</ion-view>