<ion-view view-title="Sucursales">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="sucursal in sucursales" type="item-text-wrap" href="#/tab/sucursales/{{sucursal.id}}">
        <img ng-src="{{sucursal.face}}">
        <h2>{{sucursal.name}}</h2>
        <p>{{sucursal.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(sucursal)">
          Borrar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
