<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-bottom tabs-color-active-positive">
  <!-- Tab Paquetes -->
  <ion-tab title="Paquetes" icon-off="ion-ios-archive-outline" icon-on="ion-ios-archive" href="#/tab/paquetes">
    <ion-nav-view name="tab-paquetes"></ion-nav-view>
  </ion-tab>

   <!-- Tab Calculadora -->
  <ion-tab title="Calculadora" icon-off="ion-ios-calculator-outline" icon-on="ion-ios-calculator" href="#/tab/calculadora">
    <ion-nav-view name="tab-calculadora"></ion-nav-view>
  </ion-tab>

  <!-- Tab Preaviso-->
  <ion-tab title="Preaviso" icon-off="ion-ios-checkbox-outline" icon-on="ion-ios-checkbox" href="#/tab/preaviso">
    <ion-nav-view name="tab-preaviso"></ion-nav-view>
  </ion-tab>

  <!-- Tab Sucursales -->
  <ion-tab title="Sucursales" icon-off="ion-ios-compass-outline" icon-on="ion-ios-compass" href="#/tab/sucursales">
    <ion-nav-view name="tab-sucursales"></ion-nav-view>
  </ion-tab>

  <!-- Tab Ofertas -->
  <ion-tab title="Ofertas" icon-off="ion-ios-pricetag-outline" icon-on="ion-ios-pricetag" href="#/tab/ofertas">
    <ion-nav-view name="tab-ofertas"></ion-nav-view>
  </ion-tab>  
</ion-tabs>
