/* Empty. Add your own CSS if you like */
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center-init {
    margin-top: 30%;
}

.init-button {
    width: 100%
}

#botonCta {
    background-image: url(../img/micuenta.png);
    width: 27px;
    height: 18px;
    background-repeat: no-repeat;
}